#codeigniter ignore files
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

#cloud9 ignore file ( c9.io )
.c9revisions/*

#phpstorm ignore files ( might work for all jetbrains ide ? )
/.idea/
/.idea/*
*/.idea/

#deployment folder
*/deploy/*

#utilities folder
/utils/*

#apple junk
*.DS_Store*

#LaTex ignorefiles
/Documentation/LaTex/*.log
/Documentation/LaTex/*.aux
/Documentation/LaTex/*.bib#
/Documentation/LaTex/*.idx
/Documentation/LaTex/*.out
/Documentation/LaTex/*.toc
/Documentation/LaTex/*.gz
