#Options +FollowSymLinks +ExecCGI
ErrorDocument 404 /application/errors/error_404.php

#php_value upload_max_filesize 20M
#php_value post_max_size 20M
#php_value max_execution_time 9000
#php_value max_input_time 300

RewriteEngine On
#RewriteBase http://handheld.localhost/


RewriteCond $1 !^(index\.php|css|media|pdfs|img|lib|robots\.txt)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]